%p#notice= notice

%iframe{:allowfullscreen => "", :frameborder => "0", :height => "315", :src => "//www.youtube.com/embed/_ovdm2yX4MA", :width => "560"}
%iframe{:allowfullscreen => "", :frameborder => "0", :height => "315", :src => "#{@video.url.to_s.delete "https", "videos", ":" }", :width => "560"}

%p
  %b Url:
  = link_to "#{@video.url}", @video.url

= link_to 'Edit', edit_video_path(@video)
\|
= link_to 'Back', videos_path
