!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "Videoshare"
      %meta{:content => content_for?(:description) ? yield(:description) : "Videoshare", :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Audiowide"
        = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Raleway:300,700"
        = javascript_include_tag "application"
        = csrf_meta_tags
        = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    .navbar.navbar-inverse
      %nav.navbar-inner
        .container
          = render 'layouts/navigation'
    #main.container{:role => "main"}
      .content
        .row
          .span12
            = render 'layouts/messages'
            = yield
        %footer
